{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <td>Action</td>
            <td>Symbol</td>
            <td>Shares</td>
            <td>Price</td>
            <td>Date & Time</td>
            <td>Cumalitive Total</td>
        </thead>
        <tbody>
            <tr>
                <td colspan="5"></td>
                <td>$10,000.00</td>
            </tr>
            {% for row in rows %}
                <tr>
                    <td>{{ row["Action"] }}</td>
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["shares"] }}</td>
                    <td>{{ row["price"] }}</td>
                    <td>{{ row["date"] }}</td>
                    <td>{{ row["cum_sum"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
